<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="/src/dashboard.js" defer></script>
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="ByteSized logo"></a>

        <div class="dropdown">
            <button class="buttons" id="dropdown__button">Hi, Bartholomew!</button>
            <div class="content">
                <a href="" id="about">About</a>
                <a href="" id="logout">Log Out</a>
            </div>
        </div>
    </header>

    <main class="dashboard">
        <form class="dashboard__search" data-form>
            <input class="dashboard__input" type="text" placeholder="Search topic" data-user-search>
            <button class="buttons" id="dashboard__button">Search</button>
        </form>

        <section class="articles" data-article-container>
        </section>
    </main>

    {{>footer}}
</body>
</html>