<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="ByteSized logo"></a>

        <div class="dropdown">
            <button class="buttons" id="dropdown__button">Hi, user!</button>
            <div class="content">
                <a href="" id="library">Library</a>
                <a href="" id="logout">Log Out</a>
            </div>
        </div>
    </header>

    <main class="dashboard">
        <h2 class="dashboard__intro">Begin your search here.</h2>
        
        <div class="dashboard__search">
            <input class="dashboard__input" type="text" placeholder="Search topic">
            <button class="buttons" id="dashboard__button">Search</button>
        </div>

        <section class="articles">
            <div class="articles__item">
                <h3 class="article__title">Top AI Researchers Leave OpenAI, Google and Meta for New Start Up</h3>
                <p class="article__author">Cade Metz</p>
                <p class="article__description">"Founded by a co-creator of ChatGPT, Periodic Labs aims to build artificial intelligence that can accelerate discoveries in physics, chemistry and other fields."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">Top AI Researchers Leave OpenAI, Google and Meta for New Start Up</h3>
                <p class="article__author">Cade Metz</p>
                <p class="article__description">"Founded by a co-creator of ChatGPT, Periodic Labs aims to build artificial intelligence that can accelerate discoveries in physics, chemistry and other fields."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">Top AI Researchers Leave OpenAI, Google and Meta for New Start Up</h3>
                <p class="article__author">Cade Metz</p>              
                <p class="article__description">"Founded by a co-creator of ChatGPT, Periodic Labs aims to build artificial intelligence that can accelerate discoveries in physics, chemistry and other fields."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">Top AI Researchers Leave OpenAI, Google and Meta for New Start Up</h3>
                <p class="article__author">Cade Metz</p>               
                <p class="article__description">"Founded by a co-creator of ChatGPT, Periodic Labs aims to build artificial intelligence that can accelerate discoveries in physics, chemistry and other fields."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">Top AI Researchers Leave OpenAI, Google and Meta for New Start Up</h3>
                <p class="article__author">Cade Metz</p>                
                <p class="article__description">"Founded by a co-creator of ChatGPT, Periodic Labs aims to build artificial intelligence that can accelerate discoveries in physics, chemistry and other fields."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">WIRED Health Recap: Cancer Vaccines, CRISPR Breakthroughs, and More</h3>
                <p class="article__author">Cade Metz</p>                
                <p class="article__description">"This year's WIRED Health summit in Boston featured Moderna CEO Stéphane Bancel, CNN chief medical correspondent Sanjay Gupta, and a day’s worth of insights and provocative conversations."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">WIRED Health Recap: Cancer Vaccines, CRISPR Breakthroughs, and More</h3>
                <p class="article__author">Cade Metz</p>                
                <p class="article__description">"This year's WIRED Health summit in Boston featured Moderna CEO Stéphane Bancel, CNN chief medical correspondent Sanjay Gupta, and a day’s worth of insights and provocative conversations."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">WIRED Health Recap: Cancer Vaccines, CRISPR Breakthroughs, and More</h3>
                <p class="article__author">Cade Metz</p>                
                <p class="article__description">"This year's WIRED Health summit in Boston featured Moderna CEO Stéphane Bancel, CNN chief medical correspondent Sanjay Gupta, and a day’s worth of insights and provocative conversations."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">WIRED Health Recap: Cancer Vaccines, CRISPR Breakthroughs, and More</h3>
                <p class="article__author">Cade Metz</p>                
                <p class="article__description">"This year's WIRED Health summit in Boston featured Moderna CEO Stéphane Bancel, CNN chief medical correspondent Sanjay Gupta, and a day’s worth of insights and provocative conversations."</p>
            </div>

            <div class="articles__item">
                <h3 class="article__title">WIRED Health Recap: Cancer Vaccines, CRISPR Breakthroughs, and More</h3>
                <p class="article__author">Cade Metz</p>                
                <p class="article__description">"This year's WIRED Health summit in Boston featured Moderna CEO Stéphane Bancel, CNN chief medical correspondent Sanjay Gupta, and a day’s worth of insights and provocative conversations."</p>
            </div>
        </section>
    </main>

    {{>footer}}
</body>
</html>