<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ByteSized!</title>
    <link rel="icon" href="/images/icon.png">
    
</head>
<body>
    {{>header}}

    <main>
        <img class="main__img" src="/images/main.png" alt="image of phone for landing page">

        <section class="section__div">
            <h1 class="section__intro">{{intro}}</h1>
            <p class="section__message">{{message}}</p>
            <ul>
                <li id="loginBtn"><button onclick="document.location='/login'">Log In</button></li>
                <li id="signupBtn"><button onclick="document.location='/signup'">Sign Up</button></li>
            </ul>
            <p class="section__about"><i>To learn more, visit our <a href="/about">About</a> page.</i></p>
        </section>
    </main>

    {{>footer}}
</body>
</html>