<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ByteSized!</title>
    <link rel="icon" href="/images/icon.png">
</head>
<body>
    {{>header}}

    <main id="indexMainDiv">
        <h1 id="indexH1">{{intro}}</h1>
        <p id="indexP">{{message}}</p>
    </main>
    

    {{>footer}}
</body>
</html>