<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Log In - ByteSized</title>
 <link rel="stylesheet" href="/css/login.css">
</head>
<body>
 {{>header}}


 <main class="main">
   <h1 class="main__title"> Welcome Back! </h1>
  
   <div class="login">
     <form class="login__form" id="loginForm">
       <input class="login__input" type="email" name="email" placeholder="Email" required>
       <input class="login__input" type="password" name="password" placeholder="Password" required>
       <button class="login__button" type="submit">Log In</button>
     </form>


     <!-- Error or success message -->
     <p class="login__message" id="loginMessage"></p>
   </div>
 </main>


 {{>footer}}


 <script src="/src/login.js"></script>
</body>
</html>


