/* accidentally coded desktop as default view for index.hbs */
* {
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 59);
    color: white;
}

/* header.hbs */
header img {
    max-width: 190px;
    margin-left: 50px;
}

header img:hover {
    cursor: pointer;
}

/* index.hbs */
main {
    display: flex;
    flex: 1;  
    align-items: center;  
    justify-content: center; 
    padding: 20px;
    gap: 8%; 
    /* height: 100vh; */
}

.main__img {
    max-width: none;
    width: 40%;
}

.section__div {
    max-width: 650px;
    line-height: 1.4;
}

.section__intro {
    margin-bottom: 30px;
}

.section__message {
    margin-bottom: 30px;
    font-size: 20px;
}

.section__div ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.section__div button {
    padding: 10px 16px;
    border: none;
    background: #D7EF41;
    color: rgb(1, 1, 55);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

.section__div button:hover {
    background: #8d9c2a;
}

.section__about {
    text-align: center;
    font-size: 18px;
}

.section__about a {
    color: #E6E6FA;
    text-decoration: underline;
    cursor: pointer;
}

/* footer.hbs */
footer {
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    padding-bottom: 12px;
    border-top: solid rgba(255, 255, 255, 0.5);
}

/* ----- media queries for tablet and mobile and index.hbs ------ */
@media (max-width: 1024px) {
    main {
        flex-direction: column;   
        align-items: center;       
        gap: 20px;                
        padding-bottom: 100px;
        text-align: center;
    }

    .main__img {
        width: 52%; 
    }

    .section__Div {
        max-width: 90%;   
        text-align: center;
    }

    .section__Div ul {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    main {
        gap: 16px;
    }

    .main__img {
        width: 70%; 
    }

    .section__Div h1 {
        font-size: 1.5rem; 
    }

    .section__Div h3 {
        font-size: 1rem;
    }

    .section__Div button {
        width: 100%;  
        padding: 12px;
    }

    .section__Div ul {
        flex-direction: column; 
        gap: 12px;
    }
}
