* {
    color: rgb(1, 1, 78);
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header.hbs */
header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(195, 194, 194);
    box-shadow: 0 4px 6px -2px rgba(83, 82, 82, 0.287);
}

header img {
    max-width: 185px;
}

header li {
    list-style-type: none;
}

header button {
    font-size: 18px;
    padding: 8px;
    border: none;
}

#loginBtn button {
    background-color: transparent;
    cursor: pointer;
}

#loginBtn button:hover {
    text-decoration: underline;    
}

#signupBtn button {
    border-radius: 6%;
    background-color: rgb(123, 232, 221);
}

#signupBtn button:hover {
    background-color: rgb(59, 112, 106);
}

header nav ul {
    display: flex;
    gap: 20px;
}

/* index.hbs */
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-image: url(/images/bg.png);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    justify-content: center;
    align-items: center;
}

main p {
    width: 95%;
}

/* footer.hbs */
footer {
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgb(195, 194, 194);
    font-size: 15px;
}

/* ----- media queries ------ */
@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
    }

    main h1 {
        font-size: 34px;
    }

    main p {
        font-size: 18px;
        max-width: 85%;
    }
}

@media screen and (min-width: 1025px) {
    header button {
    font-size: 20px;
    }

    main h1 {
        font-size: 48px;
    }

    main p {
        font-size: 24px;
        max-width: 70%;
    }

    footer {
        font-size: 16px;
    }
}





